.mylife {
  width: 100%;
  min-height: 100vh;
  background: #ffbd00;

  display: flex;
  align-items: center;
}

.mylife-inner {
  width: 100%;
  min-height: 100vh;
  padding: 0 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.mylife-top,
.mylife-top * {
  color: #fff !important;
}



/* 캡션 뒤에 있는 둥근 핑크 띠 → 흰색 */
.mylife-top .top-caption p {
  border: 1px solid #fff !important;
}



.background-text {
  font-size: 10rem;
  position: absolute;
  top: 400px;
  left: 370px;
  font-family: "Canela Condensed Light Trial", serif;
  font-weight: 500;
  text-align: center;
  color: #fff;
  opacity: 30%;
  line-height: 1;
}

/* 폴라로이드 영역 */

.polaroid-stack {
  position: relative;
  width: 100%;
  height: 60vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.polaroid {
  position: absolute;
  width: 260px;
}

/* 중앙 겹침 */

.polaroid:nth-child(1) {
  transform: translateX(-90px) rotate(-6deg);
}

.polaroid:nth-child(2) {
  transform: translateX(-30px) rotate(2deg);
}

.polaroid:nth-child(3) {
  transform: translateX(30px) rotate(-2deg);
}

.polaroid:nth-child(4) {
  transform: translateX(90px) rotate(6deg);
}

/* 반응형 */

@media (max-width: 1024px) {
  .polaroid {
    width: 220px;
  }
}

@media (max-width: 768px) {
  .polaroid-stack {
    height: 500px;
  }

  .polaroid {
    width: 220px;
  }
}
