.knowledge {
  width: 359px;
  height: 453px;

  flex: 0 0 359px;
  /* 가로 스크롤용: 줄어들지도, 늘어나지도 않게 */

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  background: #282828;
  border: 1px solid rgba(243, 243, 245, 0.1);
  border-radius: 17px;
  padding: 80px 61px;
  box-sizing: border-box;
}

/* 위에서부터 img, title, text 네이밍 ✅ */
.img {
  /* 이미지가 바뀌어도 안정적으로 */
  width: 120px;
  height: auto;
  object-fit: contain;

  /* img - title 간격 48px */
  margin: 0 0 48px 0;
}

.title {
  font-size: 28px;
  font-family: "Pretendard", sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: #f3f3f5;

  /* title - text 간격 16px */
  margin: 0 0 16px 0;
  white-space: nowrap;
}

.text {
  font-size: 1.125rem;
  font-family: "Pretendard", sans-serif;
  line-height: 1.3;
  color: #9f9fa0;

  margin: 0;
}