.top-title {
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding: 120px 0 80px;

  opacity: 0;
  transform: translateY(80px);
  /* ⬅️ 기존 40px → 80px */
}

.top-text {
  white-space: pre-line;
}

.top-title.animate {
  animation: slideUpFade 0.5s ease-out forwards;
}

@keyframes slideUpFade {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 왼쪽 영역 */
.top-caption {
  display: block;
  align-items: flex-start;
  /* gap: 40px; */
}

/* Introduce 캡슐 */
.top-caption p {
  display: inline-block;
  padding: 2px 16px;
  border: 1px solid #ff69b4;
  border-radius: 30px;
  color: #ff69b4;
  font-size: 26px;
  font-weight: 500;
  font-family: "Canela Condensed Light Trial", serif;
  line-height: -1px;
}

/* WHO AM I */
.top-caption h2 {
  font-size: 4rem;
  font-weight: 500;
  letter-spacing: -2px;
  margin: 0;
  color: #000;
  font-family: "Canela Condensed Light Trial", serif;
}

/* 오른쪽 설명 텍스트 */
.top-text {
  max-width: 420px;
}

.top-text p {
  font-size: 1.2rem;
  color: #979797;
  line-height: 1.3;
  padding-left: 30px;
  padding-bottom: 20px;
  font-weight: 300;
}